{% extends "base.html" %}


{% block content %}
<div class="container" style="width: 50%">
        {% if user.buckets|length == 0 %}

            <div class="jumbotron">
                <h3>Looks like you dont have any buckets...Let's change that!</h3>
                <p><a class="btn btn-primary btn-lg" href="{{ url_for('create_bucket') }}" role="button">Create a bucket</a></p>
            </div>

        {% else %}

            <ul class="list-group">
                {% for bucket in user.buckets %}

                <li class="list-group-item">{{ bucket.bucket_name }}<button type="button" class="btn btn-danger pull-right"><a href="{{ url_for('delete_bucket', bucket_name=bucket.bucket_name)}}" style="color:white">Delete</a></button></li>

                {% endfor %}
            </ul>

            <div>
                <p><a class="btn btn-primary btn-lg" href="{{ url_for('create_bucket') }}" role="button">New bucket</a></p>
            </div>

        {% endif %}

</div>
{% endblock %}