{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Bucketlist - Create Bucket{% endblock %}

{% block head %}
{{ super() }}

<style>

body {
    background-color: rgba(28, 184, 230, 0.68);
}

.form-box {
    width: 50%;
    margin: auto;
    padding-top:20px;
}

.form-box h1 {
    text-align: center;
    font-weight: bold;
    color: #f3fdff;
}

.form-box h1 span {
    font-weight: lighter;
}

</style>

{% endblock %}

{% block page_content %}

<div class="container">
    <div class="row">
        <div class="form-box">
    <h1>Create Bucket</h1>

    {{ wtf.quick_form(form) }}
            <br>

</div>

{% endblock %}



