{% extends "base.html" %}
{% block title %}Bucketlist Home{% endblock %}


{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>BUCKET LIST</h1>
        <p>Let's plan for the future!</p>
        <p>Just sign up, and get started!</p>
        {% if session['email'] %}
            <p><a class="btn btn-primary btn-lg" href="{{ url_for('buckets') }}" role="button">Get started</a></p>
        {% else %}
            <p><a class="btn btn-primary btn-lg" href="{{ url_for('register') }}" role="button">Get started</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}
